 html{
    font-family: 'Roboto Condensed', sans-serif; 
}

h1, h2, h3{
    font-family: 'Roboto Condensed', sans-serif;
 }
 
 /*Background color*/
 body{
    background-color:rgb(69, 151, 202);
 }

 /*Font Face*/
 @font-face{
    @font-face {
        font-family: "Pokemon"; 
        src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot"); 
        src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff") format("woff"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon") format("svg"); }
 }

 
 /* The navigation menu (adapted from w3.schools)*/
 .navbar {
    overflow: hidden;
    background-image: linear-gradient(#333, black);
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    font-family: Pokemon;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The subnavigation menu */
  .subnav {
    float: left;
    overflow: hidden;
    font-family: Pokemon;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-family: Pokemon;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Add a yellow background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
    /*background-color: #F2C006;*/
    background-image: linear-gradient(rgb(85, 84, 84),rgb(47, 47, 47));
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-image: linear-gradient(#e6c85f,#F2C006);
    width: 100%;
    z-index: 1;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  } 

  /*Dropdown Styling*/
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown:hover .dropbtn {
    background-image: linear-gradient(#333, black);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  #managedb:hover{
    background-image: linear-gradient(#333, black);
  }